<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Node JS</title>
    <style>
        body{
            color: #fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>About Section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, animi porro. Consectetur nam quae totam dolores cupiditate blanditiis porro reiciendis?</p>
    <a href="/">Back to Main Page</a>
</body>
</html>