<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Error</title>
    <style>
        body{
            color: #fff;
            background: #333;
            text-align: center;
            padding: 100px;
        }
        a{
            color: red;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Error</h1>
    <p>There is no kind of page. Therefore please link to <a href="/">to entrance of main page</a></p>
    <a href="/about">About Node JS</a>
</body>
</html>