<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Node JS</title>
    <style>
        body{
            color: #fff;
            background: #333;
            text-align: center;
            padding: 100px;
        }
    </style>
</head>
<body>
    <h1>Main Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quam. </p>
    <a href="/about">About Node JS</a>
</body>
</html>